doctype html 
html 
 head 
    title  Usuarios 
 body 
   form(action="/users" method="POST")
      input(name="name" placeholder="Nombre")
      input(type="password" name="password",) 
      button(type="sumbit" value="Guardar") Guardar